@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

body{
	text-align: center;
	background: url("https://picjumbo.imgix.net/HNCK0896.jpg?q=40&w=1650&sharp=30");
	background-size: cover;
	font-size: 15px;
}

ul{
	text-align: left;
	font-size: 1em;
}

li{
	font-family: 'Open sans', sans-serif;
	font-weight: bold;	
	display: inline;
	margin: 2em ;
}

h1{
	font-size: 6em;
	font-weight: bold;
	font-family: 'Bree Serif', serif;
	line-height: 1em;
	letter-spacing: .03em;
}

hr{
	width: 17%;
	align: center;
	height: 2px;
	border: none;
	color: #000;
	background-color: #000;
}

nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}

header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

section{
	background-color: #ffe2b8;
    border: 1px black solid;
    padding: 20px;
}

#subject{
	margin: 20px 0;
}

article{
	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
}

h3,p{
	font-family: 'Open sans', sans-serif;	
}

h3{
	font-weight: bold;
	font-size: 1.5em;
}

.mixpic{
		background-color: rgba(255,226,184,.7);
	width: 200px;
	height: 200px;
	font-weight: bold;
	display: inline-block;
	margin: 0 10px;
}
.mixpic img
{
  max-width: 70%; 
  max-height: 70%;
  margin: auto;
  display: block;
}

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
}